<mat-card class="card center z-depth-4 " style="width: 100%;">
    <button mat-fab class="teal lighten-2" style="float: right" (click)='addGame()' *ngIf='!delete'>
        <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
    </button>
   
        <button mat-fab class="red lighten-2" style="float: right" (click)='deleteGame()' *ngIf='delete'>
            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
        </button>
   
    <div mat-card-title class="capitalize"> {{ game.name }}</div>
    <app-loader [show]='imageLoader'></app-loader>
    <img mat-card-image [hidden]="imageLoader" [src]='game.background_image' style='width: 30%; min-width: 280px;'
        (load)="this.imageLoader = false;">
    <div mat-card-title class="capitalize">Realeased On: <mat-chip color="primary" selected>{{ game.released }}</mat-chip></div>
    <mat-chip-list>
        <mat-chip *ngFor='let platform of game.platforms' >{{ platform.platform.name }}</mat-chip>
    </mat-chip-list>
</mat-card>