<form [formGroup]='myForm'>
    <div class="grid-1">
        <div>
            <label hidden for="game">Game</label>
            <input matInput name="game" placeholder="Type the Name of the Game" formControlName='game'
                [matAutocomplete]="auto">

            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of gameOptions" [value]="option.name">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </div>
        <button mat-raised-button class="teal lighten-2 white-text" (click)='submit()'>Submit</button>
    </div>
    <mat-error *ngIf='game.touched && game.invalid'>Error</mat-error>
</form>